* {
    box-sizing:border-box;
}

body {
    padding: top 120px;
    padding-bottom: 3rem;
    background-color:antiquewhite
}
    
.bg-primary {
    background-color:cadetblue !important;
}

.jumbotron-detail-hammock-guitars{
    background: url(/images/hammock_guitar.jpeg) no-repeat fixed;
}

.jumbotron {
    height:75vh;
    background-size:cover;
}


.build-options-container{
    background-color:white;
    width:auto;
}

.standard{
    padding: 5px;
}

.custom{
    padding: 5px;
}

.footer{
    width:auto;
    margin-top:20px
}

.footerlinks{
    display:inline;
}
