* {
    box-sizing:border-box;
}

body {
    padding: top 120px;
    padding-bottom: 3rem;
    background-color:antiquewhite;
    height:100vh;
}
    
.bg-primary {
    background-color:cadetblue !important;
}


.login-header-container{
    display:flex;
    justify-content:center;
}

.loginbody{
    display:flex;
    justify-content:center;
}

.login-form-container{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:2vh;
    margin-bottom:2vh;
}

.reg-header-container{
    display:flex;
    justify-content:center;
}

.regbody{
    display:flex;
    justify-content:center;
}

input:required{
    border-width: 2px;
    border-color:black;
}

input:valid{
    border-color:green;
    border-style:solid;
}

.footer{
    width:auto;
}

.footerlinks{
}
